# API Configuration
API_URL=http://mysagra-api:4300

# Table input required (true/false)
REQUIRE_TABLE=true

# Display ticket number instead of order code (true/false)
SHOW_NUMBERS=false

# Customer input required (true/false)
REQUIRE_CUSTOMER=true